In [1]:
CREATE TABLE Departments (
    dept_no VARCHAR(4) PRIMARY KEY,
    dept_name VARCHAR(50) NOT NULL
);

: relation "departments" already exists

In [2]:
CREATE TABLE Employees (
    emp_no INT PRIMARY KEY,
    birth_date DATE,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    gender CHAR(1),
    hire_date DATE
);

In [3]:
CREATE TABLE Dept_Emp (
    emp_no INT,
    dept_no VARCHAR(4),
    from_date DATE,
    to_date DATE,
    FOREIGN KEY (emp_no) REFERENCES Employees(emp_no),
    FOREIGN KEY (dept_no) REFERENCES Departments(dept_no),
    PRIMARY KEY (emp_no, dept_no, from_date)
);

In [4]:
CREATE TABLE Dept_Manager (
    dept_no VARCHAR(4),
    emp_no INT,
    from_date DATE,
    to_date DATE,
    FOREIGN KEY (dept_no) REFERENCES Departments(dept_no),
    FOREIGN KEY (emp_no) REFERENCES Employees(emp_no),
    PRIMARY KEY (emp_no, dept_no, from_date)
);

In [5]:
CREATE TABLE Salaries (
    emp_no INT,
    salary INT,
    from_date DATE,
    to_date DATE,
    FOREIGN KEY (emp_no) REFERENCES Employees(emp_no),
    PRIMARY KEY (emp_no, from_date)
);

In [6]:
CREATE TABLE Titles (
    emp_no INT,
    title VARCHAR(50),
    from_date DATE,
    to_date DATE,
    FOREIGN KEY (emp_no) REFERENCES Employees(emp_no),
    PRIMARY KEY (emp_no, from_date)
);

In [7]:
INSERT INTO Departments (dept_no, dept_name) 
VALUES 
('d001', 'Marketing'),
('d002', 'Finance'),
('d003', 'Human Resources'),
('d004', 'Production'),
('d005', 'Development'),
('d006', 'Quality Management'),
('d007', 'Sales'),
('d008', 'Research'),
('d009', 'Customer Service');