In [18]:
-- List the employee number, last name, first name, sex, and salary of each employee.

SELECT e.emp_no, e.last_name, e.first_name, e.sex, s.salary
FROM Employees e
INNER JOIN Salaries s ON e.emp_no = s.emp_no
limit 20;

emp_no,last_name,first_name,sex,salary
10001,Facello,Georgi,M,60117
10002,Simmel,Bezalel,F,65828
10003,Bamford,Parto,M,40006
10004,Koblick,Chirstian,M,40054
10005,Maliniak,Kyoichi,M,78228
10006,Preusig,Anneke,F,40000
10007,Zielinski,Tzvetan,F,56724
10008,Kalloufi,Saniya,M,46671
10009,Peac,Sumant,F,60929
10010,Piveteau,Duangkaew,F,72488
10011,Sluis,Mary,F,42365
10012,Bridgland,Patricio,M,40000
10013,Terkki,Eberhardt,M,40000
10014,Genin,Berni,M,46168
10015,Nooteboom,Guoxiang,M,40000
10016,Cappelletti,Kazuhito,M,70889
10017,Bouloucos,Cristinel,F,71380
10018,Peha,Kazuhide,F,55881
10019,Haddadi,Lillian,M,44276
10020,Warwick,Mayuko,M,40000

In [19]:
-- List the first name, last name, and hire date for the employees who were hired in 1986.

SELECT first_name, last_name, hire_date
FROM Employees
WHERE hire_date BETWEEN '1986-01-01' AND '1986-12-31'
limit 20;

first_name,last_name,hire_date
Eran,Cusworth,1986-11-14
Bojan,Zallocco,1986-10-14
Nevio,Demizu,1986-05-18
Ziva,Vecchi,1986-07-03
Mohit,Speek,1986-01-14
Qunsheng,Speer,1986-02-13
Dines,Encarnacion,1986-08-02
Harngdar,Swick,1986-05-28
Freyja,Uhrig,1986-12-20
Zhenhua,Milicic,1986-08-04
Bowen,Schmezko,1986-05-30
Reuven,Munke,1986-04-13
Stabislas,Domenig,1986-08-04
Juichirou,Jumpertz,1986-09-18
Juichirou,Ghelli,1986-12-13
Shmuel,Georg,1986-11-30
Xiadong,Bach,1986-04-29
Guangming,Butterworth,1986-10-01
Irene,Setia,1986-08-10
Shuichi,Swiler,1986-06-08

In [3]:
-- List the manager of each department along with their department number, department name, employee number, last name, and first name.

SELECT dm.dept_no, d.dept_name, dm.emp_no AS manager_emp_no, e.last_name AS manager_last_name, e.first_name AS manager_first_name
FROM Dept_Manager dm
INNER JOIN Employees e ON dm.emp_no = e.emp_no
INNER JOIN Departments d ON dm.dept_no = d.dept_no;

dept_no,dept_name,manager_emp_no,manager_last_name,manager_first_name
d001,Marketing,110022,Markovitch,Margareta
d001,Marketing,110039,Minakawa,Vishwani
d002,Finance,110085,Alpin,Ebru
d002,Finance,110114,Legleitner,Isamu
d003,Human Resources,110183,Ossenbruggen,Shirish
d003,Human Resources,110228,Sigstam,Karsten
d004,Production,110303,Wegerle,Krassimir
d004,Production,110344,Cools,Rosine
d004,Production,110386,Kieras,Shem
d004,Production,110420,Ghazalie,Oscar
d005,Development,110511,Hagimont,DeForest
d005,Development,110567,DasSarma,Leon
d006,Quality Management,110725,Onuegbe,Peternela
d006,Quality Management,110765,Hofmeyr,Rutger
d006,Quality Management,110800,Quadeer,Sanjoy
d006,Quality Management,110854,Pesch,Dung
d007,Sales,111035,Kaelbling,Przemyslawa
d007,Sales,111133,Zhang,Hauke
d008,Research,111400,Staelin,Arie
d008,Research,111534,Kambil,Hilary
d009,Customer Service,111692,Butterworth,Tonny
d009,Customer Service,111784,Giarratana,Marjo
d009,Customer Service,111877,Spinelli,Xiaobin
d009,Customer Service,111939,Weedman,Yuchang

In [17]:
-- List the department number for each employee along with that employeeâ€™s employee number, last name, first name, and department name.

SELECT de.emp_no, e.last_name, e.first_name, d.dept_name, de.dept_no
FROM Dept_Emp de
INNER JOIN Employees e ON de.emp_no = e.emp_no
INNER JOIN Departments d ON de.dept_no = d.dept_no
Limit 20;

emp_no,last_name,first_name,dept_name,dept_no
10001,Facello,Georgi,Development,d005
10002,Simmel,Bezalel,Sales,d007
10003,Bamford,Parto,Production,d004
10004,Koblick,Chirstian,Production,d004
10005,Maliniak,Kyoichi,Human Resources,d003
10006,Preusig,Anneke,Development,d005
10007,Zielinski,Tzvetan,Research,d008
10008,Kalloufi,Saniya,Development,d005
10009,Peac,Sumant,Quality Management,d006
10010,Piveteau,Duangkaew,Production,d004
10010,Piveteau,Duangkaew,Quality Management,d006
10011,Sluis,Mary,Customer Service,d009
10012,Bridgland,Patricio,Development,d005
10013,Terkki,Eberhardt,Human Resources,d003
10014,Genin,Berni,Development,d005
10015,Nooteboom,Guoxiang,Research,d008
10016,Cappelletti,Kazuhito,Sales,d007
10017,Bouloucos,Cristinel,Marketing,d001
10018,Peha,Kazuhide,Production,d004
10018,Peha,Kazuhide,Development,d005

In [16]:
-- List first name, last name, and sex of each employee whose first name is Hercules and whose last name begins with the letter B:

SELECT first_name, last_name, sex
FROM Employees
WHERE first_name = 'Hercules' AND last_name LIKE 'B%'
limit 20;

first_name,last_name,sex
Hercules,Baer,M
Hercules,Biron,F
Hercules,Birge,F
Hercules,Berstel,F
Hercules,Bernatsky,M
Hercules,Bail,F
Hercules,Bodoff,M
Hercules,Benantar,F
Hercules,Basagni,M
Hercules,Bernardinello,F
Hercules,Baranowski,M
Hercules,Bisiani,F
Hercules,Benzmuller,M
Hercules,Bahr,M
Hercules,Biran,F
Hercules,Bain,F
Hercules,Brendel,F
Hercules,Buchter,M
Hercules,Barreiro,M
Hercules,Baak,M

In [15]:
-- List each employee in the Sales department, including their employee number, last name, and first name:

SELECT e.emp_no, e.last_name, e.first_name
FROM Employees e
INNER JOIN Dept_Emp de ON e.emp_no = de.emp_no
INNER JOIN Departments d ON de.dept_no = d.dept_no
WHERE d.dept_name = 'Sales'
limit 20;

emp_no,last_name,first_name
10002,Simmel,Bezalel
10016,Cappelletti,Kazuhito
10034,Swan,Bader
10041,Lenart,Uri
10050,Dredge,Yinghua
10053,Zschoche,Sanjiv
10060,Billingsley,Breannda
10061,Herber,Tse
10068,Brattka,Charlene
10087,Eugenio,Xinglin
10088,Syrzycki,Jungsoon
10089,Flasterstein,Sudharsan
10093,Desikan,Sailaja
10095,Morton,Hilari
10099,Sullins,Valter
10101,Heyers,Perla
10107,Baca,Dung
10125,Hiltgen,Syozo
10136,Pintelas,Zissis
10148,Azumi,Douadi

In [14]:
-- List each employee in the Sales and Development departments, including their employee number, last name, first name, and department name:

SELECT e.emp_no, e.last_name, e.first_name, d.dept_name
FROM Employees e
INNER JOIN Dept_Emp de ON e.emp_no = de.emp_no
INNER JOIN Departments d ON de.dept_no = d.dept_no
WHERE d.dept_name IN ('Sales', 'Development')
limit 20;

emp_no,last_name,first_name,dept_name
10001,Facello,Georgi,Development
10002,Simmel,Bezalel,Sales
10006,Preusig,Anneke,Development
10008,Kalloufi,Saniya,Development
10012,Bridgland,Patricio,Development
10014,Genin,Berni,Development
10016,Cappelletti,Kazuhito,Sales
10018,Peha,Kazuhide,Development
10021,Erde,Ramzi,Development
10022,Famili,Shahaf,Development
10023,Montemayor,Bojan,Development
10025,Heyers,Prasadram,Development
10027,Reistad,Divier,Development
10028,Tempesti,Domenick,Development
10031,Joslin,Karsten,Development
10034,Swan,Bader,Sales
10037,Makrucki,Pradeep,Development
10040,Meriste,Weiyi,Development
10041,Lenart,Uri,Sales
10043,Tzvieli,Yishay,Development

In [13]:
-- List the frequency counts, in descending order, of all the employee last names (that is, how many employees share each last name):

SELECT last_name, COUNT(*) AS frequency
FROM Employees
GROUP BY last_name
ORDER BY frequency DESC
Limit 20;

last_name,frequency
Baba,226
Coorg,223
Gelosh,223
Farris,222
Sudbeck,222
Adachi,221
Osgood,220
Mandell,218
Neiman,218
Masada,218
Wendorf,217
Boudaillier,217
Mahnke,216
Cummings,216
Solares,216
Pettis,216
Kulisch,215
Maksimenko,215
Emmart,215
Collette,215